.main {
  display: grid;
  grid-template-columns: 450px 1fr;
  height: 100lvh;
  position: relative;
}

.bg-green {
  background-color: #1aebb6;
}

.bg-green > .logo {
  height: 100lvh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 35px;
}

.login {
  box-shadow: 0px 1px 48px 28px rgba(0,0,0,0.1);
  height: 45rem;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
}

.login-title {
  display: block;
  margin-bottom: 10rem;
}
.login-form {
  padding: 30px 25px;
  margin-top: 5rem;
  margin-left: 50px;
}

.need-help {
  height: 35px;
  color: #000;
  font-size: 12px;
  margin-top: 10px;
  text-align: right;
}

.need-help:hover {
  color: #1aebb6;
}

@media only screen and (width >= 1441px) {
  .main {
    grid-template-columns: 550px 1fr;
  }
}